<%-include ("partials/header.ejs")%>
<body class="dashboard-body">
    <div class="hero-body dashboard">
        <%-include ("partials/navigation.ejs")%>
        <main>
            <section class="dishes">
                <h2><%=account_type === "buyer"?"Dishes in your area":"Your listed dishes"%></h2>
                <p>
                    <%= city === null
                      ? "Please set your location " +
                        (account_type === "buyer" ? "to see available dishes" : "to list your dishes")
                      : city + ", " + country
                    %>
                </p>
                <div class="dishes-wrapper">
                    <%if (account_type === "seller") {%>
                        <form class="dashboard-form dish-container" action="/add-dish" method="POST">
                            <input type="text" id="dish_title" name="dish_title" placeholder="Dish name" required>
                            <textarea name="dish_description" id="dish_description" cols="30" rows="10" placeholder="Write your dish description" required></textarea>
                            <input type="text" id="dish_price" name="dish_price" placeholder="Dish price" required>
                            <button type="submit" class="btn-form">Add dish</button>
                        </form>
                    <%}%>
                    <% if (locals.dishes) { %>
                        <% dishes.map((dish) => { %>
                          <div class="dish-container">
                            <div class="dish-title"><%= dish.title %></div>
                            <div class="dish-description"><%= dish.description %></div>
                            <div class="dish-price"><%="Price per portion: £"+dish.price %></div>
                            <%if (account_type === "buyer") {%>
                                <form class="order-form dashboard-form" action=<%=`/order-dish/${dish.id}`%> method="POST">
                                    <button class="btn-form" type="submit">Order</button>
                                </form>
                            <%}%>
                          </div>
                        <% }) %>
                    <% } %>
                </div>
            </section>

            <section class="orders">
                <h2>Orders</h2>
                <% if (locals.orders) { %>
                    <div class="dishes-wrapper">
                        <% orders.map((order) => { %>
                        <div class="dish-container">
                            <div class="dish-title"><%= order.title %></div>
                            <div class="dish-description"><%= order.description %></div>
                            <div class="dish-price"><%="Price per portion: £"+order.price %></div>
                            <%if (account_type === "seller") {%>
                                <form class="order-form dashboard-form" action=<%=`/complete-order/${order.order_id}`%> method="POST">
                                    <button class="btn-form" type="submit">Complete order</button>
                                </form>
                            <%}%>
                        </div>
                        <% }) %>
                    </div>
                <% } %>
            </section>

            <section class="profile">
                <h2>Profile</h2>
                <div class="profile-container">
                    <div class="personal-details">
                        <h3>Personal details</h3>
                        <table>
                            <tr>
                                <td>Username</td>
                                <td><%=username%></td>
                            </tr>
                            <tr>
                                <td>Account type</td>
                                <td><%=account_type%></td>
                            </tr>
                            <tr>
                                <td>Email</td>
                                <td><%=email%></td>
                            </tr>
                            <tr>
                                <td>Country</td>
                                <td><%=country%></td>
                            </tr>
                            <tr>
                                <td>City</td>
                                <td><%=city%></td>
                            </tr>
                        </table>
                    </div>
                    <div class="change-password">
                        <h3>Change password</h3>
                        <form class="dashboard-form" action="/change-password" method="POST">
                            <input type="password" id="current_password" name="current_password" placeholder="Enter current password" required>
                            <input type="password" id="new_password" name="new_password" placeholder="Enter new password" required>
                            <input type="password" id="renew_password" name="renew_password" placeholder="Repeat new password" required>
                            <button type="submit" class="btn-form">Update password</button>
                        </form>
                        <p class="msg-err"><%=locals.message||locals.messages.error%><br></p>
                    </div>
                    <div class="location-details">
                        <h3>Location details</h3>
                        <form class="dashboard-form" action="/set-location" method="POST">
                            <select name="country" id="country" required>
                                <option value="" disabled selected hidden>Select country</option>
                                <option value="United Kingdom">United Kingdom</option>
                            </select>

                            <select name="city" id="city" required>
                                <option value="" disabled selected hidden>Select city</option>
                                <option value="London">London</option>
                                <option value="Birmingham">Birmingham</option>
                                <option value="Manchester">Manchester</option>
                                <option value="Nottingham">Nottingham</option>
                            </select>
                            <button type="submit" class="btn-form">Update Location</button>
                        </form>
                    </div>
                </div>
            </section>
        </main>
    </div>
</body>
<%-include ("partials/footer.ejs")%>